template(name="slide-1")
  .row.learn-header(style="")
    span.back-header(style="color:white;text-align:center;left:0;width:100%;position:absolute;")
      h3 Exercise 1 of 2
    a.back-header.pull-left(href="/learn/module-x", style="color:white;")
      h3
        i.fa.fa-home
        span Topics
    a.back-header.pull-right.check-answer(href="#", style="color:white;")
      h3
        span Check
        i.fa.fa-question-circle
  
  .container
    .row
      .col-xs-12.text-center
        h1(style="color:white;") Match these Japanese Words with their English Counterpart
        ul#question-basket.items.free.basket(style="padding-top:40px")
          each items
            li.draggable.audible(id="{{japanese}}")
              .panel.panel-default
                .panel-body
                  h4 {{japanese}}
                  a.audible-listen-link.fa.fa-volume-up.fa-lg(id="{{_id}}")

  hr(style="margin-top: 50px; margin-bottom: 50px;")
  .row
    each items
      .col-lg-4.col-md-6
        dl.dl-horizontal
          dt(style="margin-top: 10px;") 
            h3(style="color:white;") {{english}}
          dd 
            ul.basket.items.answer-basket.text-center(style="min-height:75px;padding:5px;", id="{{english}}") 

  #createNewModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          h4.modal-title {{modalTitle}}
        .modal-body
          p {{modalBody}}
        .modal-footer
          button.btn.btn-primary#modal-button(type='button') {{modalButtonText}}
          
        
        
