template(name="module-x")
  .row.learn-header(style="")
    a.back-header.pull-left(href="/learn", style="color:white;")
      h3
        i.fa.fa-chevron-left
        span Modules

  .row.text-center
    each modules
      h1.title
        each japanese
          span(style="position:relative;") 
            | {{display}}
            if phonetic
              small.phonetic {{phonetic}}
        small.translation {{english}}

    .container
      .row
        each topics
          .responsive-center-thumbnails.col-lg-3.col-md-4.col-xs-6
            a.thumbnail.square-thumbnail(href="{{topicUrl}}")
              img(src="{{imageUrl}}")
              if private
                .private-thumbnail 
                  .private-thumbnail-inner
                    h3 Coming Soon!
            h3.topic-title
              each japanese
                span(style="position:relative;") 
                  | {{display}}
                  if phonetic
                    small.phonetic {{phonetic}}
              small.translation {{english}}