template(name="introduction")
  .row.learn-header(style="")
    span.back-header(style="color:white;text-align:center;left:0;width:100%;position:absolute;")
      h3 Exercise 1 of 1
    a.back-header.pull-left(href="/learn/module-x", style="color:white;")
      h3
        i.fa.fa-home
        span Topics
    a.back-header.pull-right.check-answer(href="#", style="color:white;")
      h3
        span Check
        i.fa.fa-question-circle
  
  .container
    .row
      .col-xs-12.text-center
        h1(style="color:white;") Watch the Video And Fill in the Blanks for the Passage Below
    .embed-responsive.embed-responsive-16by9
      iframe.embed-responsive-item(src="http://www.youtube.com/embed/R5FWDENv-bI")

  hr(style="margin-top: 50px; margin-bottom: 50px;")

  .container
    p.lead.passage 
      | 7-11 was started in
      span.blank
        input.form-control.typeahead.answer-basket(id="passage-position-1", type="text", autocomplete="off", spellcheck="off", data-source="items")
      | in the 1950s and its name meant “a store that remained open from 7Am until 11PM”. The concept was a big hit around America because not many stores were open for such long hours. 
      span.blank
        input.form-control.typeahead.answer-basket(id="passage-position-2", type="text", autocomplete="off", spellcheck="off", data-source="items")
      | has managed to take 7-11 to the next level, all of their 7-11s are open 
      span.blank
        input.form-control.typeahead.answer-basket(id="passage-position-3", type="text", autocomplete="off", spellcheck="off", data-source="items")
      | a day! Further, they have an incredible variety of different products. There are 
      span.blank
        input.form-control.typeahead.answer-basket(id="passage-position-4", type="text", autocomplete="off", spellcheck="off", data-source="items")
      | of hot coffee and 
      span.blank 
        input.form-control.typeahead.answer-basket(id="passage-position-5", type="text", autocomplete="off", spellcheck="off", data-source="items")
      | of hot tea for the cold days, and popular Japanese snacks such as rice balls wrapped in seaweed called 
      span.blank 
        input.form-control.typeahead.answer-basket(id="passage-position-6", type="text", autocomplete="off", spellcheck="off", data-source="items")
      | . Fresh 
      span.blank
        input.form-control.typeahead.answer-basket(id="passage-position-7", type="text", autocomplete="off", spellcheck="off", data-source="items")
      | are made daily, and pre-packed 
      span.blank
        input.form-control.typeahead.answer-basket(id="passage-position-8", type="text", autocomplete="off", spellcheck="off", data-source="items")
      | and other meals can be microwaved at the counter and ready to eat in minutes! The selection of cold drinks and 
      span.blank 
        input.form-control.typeahead.answer-basket(id="passage-position-9", type="text", autocomplete="off", spellcheck="off", data-source="items")
      | will amaze you. Of course, there are 
      span.blank 
        input.form-control.typeahead.answer-basket(id="passage-position-10", type="text", autocomplete="off", spellcheck="off", data-source="items")
      | to go with these too. It also offers many 
      span.blank
        input.form-control.typeahead.answer-basket(id="passage-position-11", type="text", autocomplete="off", spellcheck="off", data-source="items")
      | other than food and drink, such as 
      span.blank
        input.form-control.typeahead.answer-basket(id="passage-position-12", type="text", autocomplete="off", spellcheck="off", data-source="items")
      | and bill paying. Perhaps this has developed to suit the busy lifestyles of Japanese 
      span.blank
        input.form-control.typeahead.answer-basket(id="passage-position-13", type="text", autocomplete="off", spellcheck="off", data-source="items")
      | and people hurrying from place to place. 

  #createNewModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          h4.modal-title {{modalTitle}}
        .modal-body
          p {{modalBody}}
        .modal-footer
          button.btn.btn-primary#modal-button(type='button') {{modalButtonText}}
          
        
        
