template(name="index")
  .row.row-full-height
    aside.col-xs-2.well.full-height-background
    aside.col-xs-2
      .text-center
        .btn-group
          button.btn.btn-danger.btn-lg(type='button') 
            i.fa.fa-plus
            span Create New Project
            button.btn.btn-danger.btn-lg.dropdown-toggle(type='button', data-toggle='dropdown')
              span.caret
              span.sr-only Toggle Dropdown
            ul.dropdown-menu(role='menu')
              li
                a(href='#') Action
              li
                a(href='#') Another action
              li
                a(href='#') Something else here
              li.divider
              li
                a(href='#') Separated link
      hr
      ul.media-list.module-list.nav.nav-pills.nav-stacked
        each modules
          li.media
            a.media-body(data-target="#{{_id}}-topic-list", data-toggle="collapse", href="#")
              img.pull-left.media-object.media-thumbnail(data-src="holder.js/60x60")
              .media-heading-container
                h4.media-heading {{title}}
            .collapse(id="{{_id}}-topic-list")
              ul.topic-list.nav.nav-pills.nav-stacked
                each topics
                  li.media
                    a.media-body(href="#{{title}}")
                      img.pull-left.media-object.media-thumbnail(data-src="holder.js/60x60")
                      .media-heading-container
                        h4.media-heading {{title}}
              ul.add-topic.nav.nav-pills.nav-stacked
                li.media.add-media
                  a.media-body
                    .media-heading-container.text-center
                      h4.media-heading 
                        i.fa.fa-plus-square
                        span Add Topic
      ul.media-list.add-module.nav.nav-pills.nav-stacked
        li.media.add-media
          a.media-body
            .media-heading-container.text-center
              h4.media-heading 
                i.fa.fa-plus-square
                span Add Module

    article.col-xs-10.thumnbail-container
      each modules
        h1 {{title}}
        each topics
          h1.page-header.thumbnail-header(id="{{title}}") {{title}}
          div.row
            ul.slides.thumbnail-group
              each slides
                li.col-xs-6.col-md-3.sortable-thumbnail
                  a.lesson-thumbnail.thumbnail(href="#")
                    .thumbnail-inner.lesson-thumbnail-inner
                      h3.text-center.thumbnail-caption {{title}}
              li.col-xs-6.col-md-3.unsortable-thumbnail
                a.add-thumbnail.thumbnail(href="#")
                  .thumbnail-inner
                    h3.text-center.thumbnail-caption 
                      i.fa.fa-plus-square
                      span Add Slide

              