.draggable
  cursor move

ul.basket
  min-height 180px
  border 2px dashed #ddd
  padding-bottom 20px
  padding-top 20px
  padding-right 25px

ul.basket.answer-basket
  list-style none

ul.basket.answer-basket li
  display inline-block
  margin-left 10px

ul.basket.answer-basket .ui-sortable-placeholder
  max-height 85px !important
  display none

ul.basket.answer-basket li .panel
  margin-bottom 0

ul.basket.answer-basket li:first-child
  margin-left 0

ul.free li
  display inline-block
  margin-left 10px
  margin-right 10px

ul.free li:first-child
  margin-left: 0

.module
  float none
  display inline-block

.new-module  
  margin: 10px;

.module-header
  color white

.module a
  color white

.module a:hover
  text-decoration none

.new-module a.thumbnail
  margin-bottom 0

/*
// carousel-modules
.carousel-primary-navigation
  margin-left: 40px;
  margin-right: 40px;

.carousel-primary-navigation .slick-prev 
  margin-left -40px

.carousel-primary-navigation  .slick-next
  margin-right -40px

.carousel-primary-navigation  .slick-prev,
.carousel-primary-navigation  .slick-next
  margin-top -40px
  height 60px
  width 60px

.carousel-primary-navigation .slick-prev:before
  font-size 60px

.carousel-primary-navigation .slick-next:before
  font-size 60px

// carousel-navigation
.carousel-secondary-navigation
  margin-left 35px
  margin-right 40px

.carousel-secondary-navigation .slick-next:before,
.carousel-secondary-navigation .slick-prev:before
  font-size 40px

.carousel-secondary-navigation .slick-prev,
.carousel-secondary-navigation .slick-next
  margin-top -25px
  height 40px
  width 40px

.carousel-secondary-navigation .slick-prev
  margin-left -15px

.carousel-secondary-navigation .slick-next
  margin-right -15px
*/
.row.learn-header
  background-color transparent
  position absolute
  width 100%
  top 0
  height: 50px
  padding-left 15px
  padding-right 15px

.title
  color white
  font-size 60px

a.back-header span,
a.back-header i
  color white
  opacity 0.4

.back-header:hover
  text-decoration none

.back-header h3
  margin-top: 10px;
  color white 

a.back-header:hover span,
a.back-header:hover i
  color white
  opacity 0.8

a.thumbnail.square-thumbnail {
    display: inline-block;
    position: relative;
    width: 100%;
    height: initial
}
a.thumbnail.square-thumbnail:after {
    content: '';
    display: block;
    margin-top: 100%;
}
a.thumbnail.square-thumbnail img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: silver;
}

// Responsive
@media (min-width: 1200px)
  .responsive-center-thumbnails:nth-child(1),
  .responsive-center-thumbnails:nth-child(2),
  .responsive-center-thumbnails:nth-child(3),
  .responsive-center-thumbnails:nth-child(4)
    float none
    display inline-block

  .title
    margin-top 70px
    margin-bottom 30px

@media (min-width: 992px) and (max-width: 1199px)
  .responsive-center-thumbnails:nth-child(1),
  .responsive-center-thumbnails:nth-child(2),
  .responsive-center-thumbnails:nth-child(3)
    float none
    display inline-block

  .title
    margin-top 0px
    margin-bottom 30px

@media (min-width: 768px) and (max-width: 991px)
  .responsive-center-thumbnails:nth-child(1),
  .responsive-center-thumbnails:nth-child(2)
    float none
    display inline-block

  .title
    margin-top 0px
    margin-bottom 30px

@media (max-width: 767px)
  .title
    margin-top 0px
    margin-bottom 30px




