.draggable
  cursor move

.audible .panel .panel-body
  overflow hidden
  padding 6px 25px
  position relative
  vertical-align middle
  -webkit-transition 0.25s linear
  transition 0.25s linear

.audible .panel .panel-body:hover
  padding-left 12px
  padding-right 40px

.audible .panel .panel-body .audible-listen-link
  bottom 0
  color black
  cursor pointer
  opacity 0
  padding 7px 7px 5px 0
  position absolute
  right 0
  text-align right
  text-decoration none
  top 0
  width 100%
  z-index 2
  display none
  margin-top 13px
  margin-right 5px

.audible .panel .panel-body:hover .audible-listen-link
  opacity 1
  display block

ul.basket
  min-height 180px
  border 2px dashed #ddd
  padding-bottom 20px
  padding-top 20px
  padding-right 25px

ul.basket.answer-basket
  list-style none

ul.basket.answer-basket li
  display inline-block
  margin-left 10px

ul.basket.answer-basket .ui-sortable-placeholder
  max-height 85px !important
  display none

ul.basket.answer-basket li .panel
  margin-bottom 0

ul.basket.answer-basket li:first-child
  margin-left 0

ul.free li
  display inline-block
  margin-left 10px
  margin-right 10px

ul.free li:first-child
  margin-left 0

.module
  float none
  display inline-block

.new-module  
  margin 10px

.module-header
  color white

.module a
  color white

.module a:hover
  text-decoration none

.new-module a.thumbnail
  margin-bottom 0

.row.learn-header
  background-color transparent
  position absolute
  width 100%
  top 0
  height 50px
  padding-left 15px
  padding-right 15px

a.thumbnail.square-thumbnail .private-thumbnail
  display none
  position absolute
  top 0
  left 0
  height 100%
  width 100%
  background black

a.thumbnail.square-thumbnail .private-thumbnail-inner
  display table
  height 100%
  width 100%

a.thumbnail.square-thumbnail .private-thumbnail-inner h3
  display table-cell
  vertical-align middle
  color white

a.thumbnail.square-thumbnail:hover .private-thumbnail
  display block
  opacity 0.8

a.thumbnail.square-thumbnail {
    display inline-block
    position relative
    width 100%
    height initial
}
a.thumbnail.square-thumbnail:after {
    content ''
    display block
    margin-top 100%
}
a.thumbnail.square-thumbnail img {
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    background-color silver
}

small.phonetic
  position absolute
  top 0
  left 0
  width 100%
  font-size 9px
  margin-top -10px
  color white
  opacity 0.7

small.translation
  display block
  color white
  opacity 0.8

.title
  color white
  font-size 60px
  margin-top 0px
  margin-bottom 30px

.topic-title, .module-title
  color white 
  margin-top 0px
  min-height 130px

.topic-title
  min-height 100px

a.back-header span,
a.back-header i
  color white
  opacity 0.4

.back-header:hover
  text-decoration none

.back-header h3
  margin-top 10px
  color white 

a.back-headerhover span,
a.back-headerhover i
  color white
  opacity 0.8  

p.lead.passage
  color white
  line-height 60px

p.lead.passage span.blank
  color white
  display inline-block
  vertical-align middle
  top 0
  min-width 180px
  color inherit
  padding 0

p.lead.passage span.blank .form-control
  border 2px solid #ddd
  color #34495e
  font-size 15px
  line-height 1.467
  padding 8px 12px
  height 42px
  -webkit-appearance none
  border-radius 6px
  -webkit-box-shadow none
  box-shadow none
  -webkit-transition border .25s linear, color .25s linear, background-color .25s linear
  transition border .25s linear, color .25s linear, background-color .25s linear
  background transparent
  text-align center
  color white

p.lead.passage span.blank .form-control:focus 
  border-color white
  outline 0
  -webkit-box-shadow none
  box-shadow none

/* basic typeahead styles */
.typeahead,
.tt-query,
.tt-hint
  border 2px solid #ccc
  -webkit-border-radius 8px
     -moz-border-radius 8px
          border-radius 8px
  outline none

.typeahead
  background-color #fff

.typeahead:focus
  border 2px solid #0097cf

.tt-query
  -webkit-box-shadow inset 0 1px 1px rgba(0, 0, 0, 0.075)
     -moz-box-shadow inset 0 1px 1px rgba(0, 0, 0, 0.075)
          box-shadow inset 0 1px 1px rgba(0, 0, 0, 0.075)

.tt-hint
  color #999

.tt-dropdown-menu
  margin-top 3px
  padding 8px 0
  background-color #fff
  border 1px solid #ccc
  border 1px solid rgba(0, 0, 0, 0.2)
  -webkit-border-radius 8px
     -moz-border-radius 8px
          border-radius 8px
  -webkit-box-shadow 0 5px 10px rgba(0,0,0,.2)
     -moz-box-shadow 0 5px 10px rgba(0,0,0,.2)
          box-shadow 0 5px 10px rgba(0,0,0,.2)


.tt-suggestion
  padding 3px 20px
  font-size 18px
  line-height 24px


.tt-suggestion.tt-cursor
  color #fff
  background-color #0097cf

.tt-suggestion p
  margin 0
  color black


// Responsive
@media (min-width 1200px)
  .responsive-center-thumbnails:nth-child(1),
  .responsive-center-thumbnails:nth-child(2),
  .responsive-center-thumbnails:nth-child(3),
  .responsive-center-thumbnails:nth-child(4)
    float none
    display inline-block
    vertical-align top

  .title
    margin-top 70px
    margin-bottom 30px

  .title small.phonetic
    font-size 30px
    margin-top -25px


@media (min-width 992px) and (max-width 1199px)
  .responsive-center-thumbnails:nth-child(1),
  .responsive-center-thumbnails:nth-child(2),
  .responsive-center-thumbnails:nth-child(3)
    float none
    display inline-block
    vertical-align top

  .title
    margin-top 0px
    margin-bottom 30px

  .title small.phonetic
    font-size 20px
    margin-top -15px

@media (min-width 768px) and (max-width 991px)
  .responsive-center-thumbnails:nth-child(1),
  .responsive-center-thumbnails:nth-child(2)
    float none
    display inline-block
    vertical-align top

  .title
    margin-top 10px

  .title small.phonetic
    font-size 20px
    margin-top -12px

@media (max-width 767px)
  .back-header > *
    font-size 15px

  .module-title, .topic-title
    margin-top 0px
    font-size 28px

  .title
    margin-top 10px

  .title
    font-size 30px

  .title small.phonetic
    font-size 12px
    margin-top -9px




