ul.basket
  height: 400px;
  border: 2px dashed #ddd;

ul.free li
  display: inline-block
  margin-left: 10px
  margin-right: 10px

ul.free li:first-child
  margin-left: 0

.title
  color white
  font-size 60px
  margin-top 90px
  margin-bottom 20px

.module
  float none
  display inline-block

.new-module  
  margin: 10px;

.module-header
  color white

.module a
  color white

.module a:hover
  text-decoration none

.new-module a.thumbnail
  margin-bottom 0

a.thumbnail.square-thumbnail {
    display: inline-block;
    position: relative;
    width: 100%;
    height: initial
}
a.thumbnail.square-thumbnail:after {
    content: '';
    display: block;
    margin-top: 100%;
}
a.thumbnail.square-thumbnail img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: silver;
}

// carousel-modules
.carousel-primary-navigation
  margin-left: 40px;
  margin-right: 40px;

.carousel-primary-navigation .slick-prev 
  margin-left -40px

.carousel-primary-navigation  .slick-next
  margin-right -40px

.carousel-primary-navigation  .slick-prev,
.carousel-primary-navigation  .slick-next
  margin-top -40px
  height 60px
  width 60px

.carousel-primary-navigation .slick-prev:before
  font-size 60px

.carousel-primary-navigation .slick-next:before
  font-size 60px

// carousel-navigation
.carousel-secondary-navigation
  margin-left 35px
  margin-right 40px

.carousel-secondary-navigation .slick-next:before,
.carousel-secondary-navigation .slick-prev:before
  font-size 40px

.carousel-secondary-navigation .slick-prev,
.carousel-secondary-navigation .slick-next
  margin-top -25px
  height 40px
  width 40px

.carousel-secondary-navigation .slick-prev
  margin-left -15px

.carousel-secondary-navigation .slick-next
  margin-right -15px

// Responsive
/*
@media (min-width: 1200px)
  .carousel-primary-navigation a.thumbnail
    height 245px

@media (min-width: 992px) and (max-width: 1199px)
  .carousel-primary-navigation a.thumbnail
    height 267px

@media (min-width: 768px) and (max-width: 991px)
  .carousel-primary-navigation a.thumbnail
    height 300px

@media (max-width: 767px)
  .title
    margin-top 100px

  .carousel-primary-navigation a.thumbnail
    min-height 480px
    height auto
*/

