template(name="slide-2")
  .row.learn-header(style="")
    span.back-header(style="color:white;text-align:center;left:0;width:100%;position:absolute;")
      h3 Exercise 2 of 2
    a.back-header.pull-left(href="/learn/module-x", style="color:white;")
      h3
        i.fa.fa-home
        span Topics
    a.back-header.pull-right.check-answer(href="#", style="color:white;")
      h3
        span Check
        i.fa.fa-question-circle
      
  .row
    h1.col-sm-4.text-center(style="color:white;") Food
    h1.col-sm-4.text-center(style="color:white;") Beverage
    h1.col-sm-4.text-center(style="color:white;") Lifestyle
  .row
    .col-sm-4
      ul.basket.items.answer-basket#Food
    .col-sm-4
      ul.basket.items.answer-basket#Beverage
    .col-sm-4
      ul.basket.items.answer-basket#Lifestyle
  
  hr(style="margin-top: 50px; margin-bottom: 50px;")

  .container
    .row
      .col-xs-12.text-center
        h1(style="color:white;") Drag these Japanese Words to the Correct Group Above
        ul#question-basket.items.free.basket(style="padding-top:40px")
          each items
            li.draggable(id="{{japanese}}")
              .panel.panel-default
                .panel-body
                  h4 {{japanese}}

  #createNewModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          h4.modal-title {{modalTitle}}
        .modal-body
          p {{modalBody}}
        .modal-footer
          button.btn.btn-primary#modal-button(type='button') {{modalButtonText}}
          
        
        
