.slick-dots li
  margin 0

.slick-initialized .slick-slide
  display inline-block
  float none

.slick-prev:before
  content "\f053"
  font-family "FontAwesome"

.slick-next:before
  content "\f054"
  font-family "FontAwesome"